<div>
  <h1>🎉 Congratulations 🎉</h1>
  <h3>You've completed all the challenges. <br />Next steps:</h3>
  <h3>1. Commit your code to your forked repo.</h3>
  <h3>2. Submit a pull request to the challenge repo.</h3>
</div>
